body {
  background-color:rgb(169,175,186);
}

.persov {
  background-color: rgb(96,136,201);
  text-align: center;
}

.desc {
  background-color: rgb(169,175,186);
  text-align: center;
}

.back {
  text-align: center;
  border: 2px solid;
}

.image {
  width: 100%;
}

.title {
  text-align: center;
}

.data {
  text-align: center;
}

.form {
  text-align: center;
  border:solid 2px;
}

body {
  background-color:rgb(169,175,186);
}

.profov {
  background-color: rgb(96,136,201);
  text-align: center;
}

.desc {
  background-color: rgb(169,175,186);
  text-align: center;
}

.back {
  text-align: center;
  border: 2px solid;
}

.title {
  text-align: center;
}

.bio {
  background-color: rgb(96,136,201);
  text-align: center;
}

.desc {
  background-color: rgb(169,175,186);
  text-align: center;
}

.title {
  text-align: center;
}

.personal, .professional {
  border: 2px solid;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgb(96,136,201);
}

h2, h4, h1 {
  text-transform: uppercase;
}

body {
  background-color: rgb(209,211,214);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(209,211,214);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(96,136,201);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

li a:hover {
  text-decoration: underline;
}

.active {
  background-color: rgb(96,136,201);
  color: white;
}

.pics {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

i {
  font-size: 8px;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
