<!doctype html>
<html lang="en">
<!-- Document Object Model: Inverse tree structure, how we structure documents. Each element has its own ID (#nav) or class name (class names can be repeated) -->

  <head>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="css/design.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CDN: Content Delivery Network: Series of servers dispersed across the globe and when looking for given content you are redirected to the server closest to you. Makes things faster. -->

    <style type="text/css">


    </style>

    <title>Comments Page</title>

  </head>

  <body>
    <div class="col title">
      <h1>Comments Page</h1>
    </div>

    <div>
      <ul>
        <li><a href="index.html">Overview</a></li>
        <li><a href="personal.html">Personal Interests</a></li>
        <li><a href="professional.html">Professional Interests</a></li>
        <li><a href="comments.html" class="active">Comments Page</a></li>
      </ul>
    </div>

    <div  id="commentMain"  class="container-fluid">

      <div class="row placeholder persov">
        <div class="col placeholder ov">
          <h4>What is This Page?</h4>
          <br/>
          This page will display all entered comments in table form.
          <br/><br/>
        </div>
      </div>

    <br/>
        <div class="col tabled">
          <h4 class="col data">Comments</h4>

          <table id="commentTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Comment ID</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody id="commentTableBody" v-for="c in commentList">
              <td>{{ c.id }}</td>
              <td>{{ c.comment }}</td>
            </tbody>
          </table>

        </div>

        <div class="col form">

          <form @submit.prevent="handleCommentForm" id="newCommentForm">
            <div class="form-group">
              <label for="input">New Comment: </label>
              <div class="container">
                <input type="text" v-model="newCommentForm.comment" class="form-control" id="comment" required>
              </div>
            </div>
            <button type="submit" id="submitNewComment" class="btn btn-primary">Submit Comment</button>
          </form>

        </div>

        <br/>

        <a href="index.html">
        <div class="col back">
          <br/>
          Back to Home Page
          <br/>
          <br/>
        </div>
        </a>
        <br/>


    </div>

    <!-- We need Bootstrap's modal JS, thus we also need jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- moment.js via CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/comments.app.js"></script>
  </body>
</html>
